body {
    font-family: Arial, sans-serif;
    background: #C3B091;
    color: black;
    text-align: center;
    margin: 0;
    padding: 0;
    justify-content: center;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 20px;
    background-color: #C3B091;
}

.logo {
    font-family: fantasy;
    font-size: 50px;
    font-weight: bold;
}

.back a {
    color: white;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.65);
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
}

.back a:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  }

.table {
    text-align: center;
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
}