{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/createquiz.css' %}">
    <title>Create quiz</title>
</head>
<body>
    <header>
        <div class="logo">Mind ★ Voyage</div>
        <li class="back"><a href="{% url 'index' %}">Back to Home</a></li>
    </header>

    <h1>Create a Quiz</h1>
    <form method="post">
        {% csrf_token %}
        {{ quiz_form.as_p }}
        {{ question_formset.management_form }}
        {% for question_form in question_formset %}
            {{ question_form.as_p }}
            {{ question_form.nested.management_form }}
            {% for answer_form in question_form.nested %}
                {{ answer_form.as_p }}
            {% endfor %}
        {% endfor %}
        <button type="submit">Save Quiz</button>
    </form>
    
</body>
</html>
