{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Website</title>
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
</head>
<body>
    <header>
        <div class="logo">Mind ★ Voyage</div>       
        <ul class="menu">
            {% if user.is_authenticated %}
                <li class="welcome">Welcome, {{ user.username }}!</li>
                <li><a href="{% url 'profile' %}" class="profile">Profile</a></li>
                <li class="menu-item logout"><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li class="menu-item login"><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </header>
    <main>
        <section class="quiz-cards">
            <!-- History Quiz Button -->
            <div class="card">
                <a href="{% url 'quiz_list' 'History' %}">
                    <img src="{% static 'images/history-image.webp' %}" alt="History Quiz">
                    <h3>History Quiz</h3>
                </a>
            </div>

            <!-- Science Quiz Button -->
            <div class="card">
                <a href="{% url 'quiz_list' 'Science' %}">
                    <img src="{% static 'images/science-image.webp' %}" alt="Science Quiz">
                    <h3>Science Quiz</h3>
                </a>
            </div>
        </section>

        <!-- Create Your Own Quiz Button 
        {% if user.is_authenticated %}
            <a href="{% url 'create_quiz' %}">Create your own quiz!</a>
        {% endif %}
        -->
    </main>
</body>
</html>
