{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>
<body>
    <header>
        <div class="logo">Mind ★ Voyage</div>
        <a href="{% url 'index' %}" class="back">Back to Home</a>
    </header>
    <main>
        <section class="profile-info">
            <div class="photo">
                {% if profile.avatar %}
                    <img src="{{ profile.avatar.url }}" alt="Profile Picture" width="150">
                {% endif %}
            </div>
            <h2>Username</h2>
            <p>{{ user.username }}</p>
            <p>{{ user.profile.bio }}</p>
            <!-- Profile Edit Form -->
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Save Changes</button>
            </form>
        </section>
        <section class="score-history">
            <h3>Score History</h3>
                {% if results %}
                <ul>
                    {% for result in results %}
                        <li><a href="{% url 'result' result.id%}">{{ result.quiz.title }} - Score: {{ result.score }}</a></li>
                    {% empty %}
                        <li>No quizzes attempted yet.</li>
                    {% endfor %}
                </ul>
                {% endif %}
        </section>
    </main>
</body>
</html>
