{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Page</title>
    <link rel="stylesheet" href="{% static 'css/question.css' %}">
</head>
<body>
    <header>
        <div class="logo">Mind ★ Voyage</div>
        <a href="index.html" class="back">Back to Home</a>
    </header>
    <main>
        <h1>QUESTION N. ?</h1>
        <h2>????????????????</h2>
        <div class="line"></div>
        <div class="answers">
            <button>Option 1</button>
            <button>Option 2</button>
            <button>Option 3</button>
            <button>Option 4</button>
        </div>
    </main>
</body>
</html>
